#Perfil{
    text-align: center;
    padding: 24px;

    & img {
        border-width: 4px;
        border-style: solid;
        border-color: rgba(146, 146, 146, 0.8);
        width: 112px;
        height: 112px;
        border-radius: 50%;
    }
}