:root { /* :root -> variáveis de css no tema original projetado */
  --font-raleway: "Raleway", sans-serif;

  /* Light tema (padrão) */
  --bg-primary: #f5f5f5;
}

@media (prefers-color-scheme: dark){
  /* Dark tema */ 
  /* :root{
  --bg-primary: #212426;
  }*/
}

body {
  font-family: var(--font-raleway);
  background: var(--bg-primary);
}
